BookstoreServiceClientApp/Client/Connected Services/BookstoreServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookstoreService" />
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookAddProtocolText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookstoreService" minOccurs="0" name="AddBookResult" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priceUpdateProtocolText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookstoreService" minOccurs="0" name="UpdateBookPriceResult" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookstoreService" minOccurs="0" name="GetBooksResult" nillable="true" type="q3:ArrayOfBook" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookstoreService" minOccurs="0" name="result" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>